.dining-page {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    position: relative;
}

.dining-page:before {
    content: '';
    position: absolute;
    background: url('../../assets/istockphoto-1136023352-170667a.jpeg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.dining-page .content {
    position: absolute;
    top: 30%;
    width: 50%;
    left: 0;
    padding: 1rem;
}

.dining-page h2 {
    color: #f8f8f8;
}

.dining-page p {
    color: #f8f8f8;
    margin: 1rem 0;
}

@media screen and (max-width:940px) {
    .dining-page .content {
    width: 100%;
    }
}


