.main-page {
    width: 100%;
    height: 100vh;
    background: url('../../assets/juan-miguel-agudo-NhwnmZ-vddo-unsplash.jpg') no-repeat center center/cover;
}

.main-page .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-page .content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-left: 6rem;
}

.main-page h1 {
    color: #f8f8f8;
}

.main-page {
    color: var(--primary-color);
}

@media screen and (max-width:940px) {
   .main-page .content {
    margin-left: 1rem;
   } 
}





