.contact-page {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0,0,0,.7);
}

.contact-page:before {
    content: '';
    position: absolute;
    background: url('../../assets/nathan-oakley-lauuoxHBK5k-unsplash.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.contact-page .container .form-container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 color: #f8f8f8;
}

.contact-page form {
    width: 50%;
    margin: 1rem;
}

.contact-page .form-container div {
    display: flex;
    flex-direction: column;
}

.contact-page form label {
    margin: 2rem 0 .7rem 0;
    display: none;
}

.contact-page form input, textarea {
    padding: .5rem;
    font-size: 1.2rem;
    color: #f8f8f8;
    margin: 1rem 0;
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, .15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .15);
}

.contact-page form input:focus, textarea:focus {
    outline: var(--primary-color);
    box-shadow: 0 0 12px 0 var(--primary-color);
}

@media screen and (max-width: 940px) {
    .contact-page form {
        width: 100%;
    }
}








