.office-page {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, .5);
}

.office-page:before {
    content: '';
    position: absolute;
    background: url('../../assets/xps-g2E2NQ5SWSU-unsplash.jpg')no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.office-page .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 30%;
    width: 50%;
}

.office-page .content p {
    margin: 1rem 0;
}

@media screen and (max-width: 940px) {
    .office-page .content {
        left: 0;
        width: 100%;
        padding: 1rem;
        background: rgba(0, 0, 0, .7);
    }
}










