.footer-page {
    width: 100%;
    height: 60vh;
    position: relative;
    background: rgba(255, 255, 255, 0);
}

.footer-page:before {
    content:'';
    position: absolute;
    background: url('../../assets/christian-mackie-lDlU1zbjGQA-unsplash.jpg')no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.footer-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-page .top {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer-page .top .logo-footer-page {
    display: flex;
    align-items: center;
}

.footer-page .top .icon {
    font-size: 3rem;
    margin-right: 1rem;
    color: var(--primary-color);
    cursor: pointer;
}

.footer-page .col-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    padding: 1rem;
    width: 100%;
}

@media screen and (max-width: 940px) {
    .footer-page {
        height: 100%;
    }

    .footer-page .col-container {
        grid-template-columns: 2fr 2fr;
    }
}


